<h2>Admin Control</h2>

<div class="row">
	<div class="col-md-12 text-center">Users: <a href='/register'>Add new user</a></div>
</div>
<br>
<table id="datatable" class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Joined</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
		<% @list2.each do |row| %>
	    <tr>
	      <td><%= row.username %></td>
	      <td><%= row.password %></td>
	      <td><%= row.created_at %></td>
	      <td>
	      	<% if row.username != "Admin" %>
						<form action="/user/<%= row.username %>" method="post" id="edit">
							<input type="hidden" name="_method" value="put">
							<input type="checkbox" name="edit" <%= "checked" if row.edit %>>
						 	<input type="submit" value="Allow Edit?">
						</form>
					<% else %>
						<input type="checkbox" name="edit" disabled="disabled" <%= "checked" if row.edit %>> 
					<% end %>
				</td>
			  <td>
					<% if row.username != "Admin" %>
					 	<a href="/user/delete/<%= row.username %>">Delete User?</a>
					 <% end %>		  	
			  </td>
	    </tr>
    <% end %>
  </tbody>
</table>